body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#opponent-choice {
  width: 150px;
  height: 150px;
  margin-top: 10px;
}

#your-choice {
  width: 150px;
  height: 150px;
  margin-top: 10px; 
}

#choices {
  width: 240px;
  height: 80px;
  margin: 0 auto;
  margin-top: 10px;
}

#choices img {
  width: 80px;
  height: 80px;
}
#your-score{
  margin-top: 50px
}